.dropdown-menu-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.menu-item {
  height: 56px;
  display: flex;
  align-items: center;
  padding-right: 20px;
  font-size: 14px;
}
.menu-item span {
  text-align: center;
  font-weight: bold;
  height:26px ;
  border-left: 1px solid  rgba(206, 206, 206, 0.733);
  padding-left: 20px;
}